*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

header{
    background-color: white;
    padding:10px;
    line-height: 100%;
    align-items: center;
    margin-bottom: 30px;
}

header > img{
    vertical-align: middle;
}

h1{
    display: inline;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 900;
}

.container{
    width: 60%;
    margin: 0 auto;
}

#add-new{
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    border-radius: 5px;
    margin-bottom: 2px;
}

#add-new > button{
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 7px 15px;
}

.button-add-task{
    background-color: #1e90ff;
    color: white;
    border-color: #1e90ff;
    
}

.button-add-section{
    background-color: white;
    color: grey;
}

#your-tasks{
    background-color: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 30px;
}

#your-tasks > div{
    margin-bottom: 20px;
    line-height: 30px;
}

/* da finire le icone a sinistra */
/* faccio prima i tag a destra */


